.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  float: left;
  .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }
}

// Multiple progress bar 
.progress-bar-vertical.multiple-bar{
  vertical-align:bottom;
  flex-direction: column-reverse;
  .progress-bar{
    display:block
  }
}