
$header-top-bg: #f8f8f8;
$light-font-color: #777;
$header-top-font-hover-color: #007bff;

@mixin ipad-max991{
	@media only screen and (max-width:991px) { @content; }
}


header{
	// .navbar-nav li:hover > ul.dropdown-menu {
	// 	display: block;
	// }
	// .dropdown-submenu {
	// 	position:relative;
	// }
	// .dropdown-submenu>.dropdown-menu {
	// 	top: 0;
	// 	left: 100%;
	// 	margin-top:-6px;
	// }
	
.navbar .nav-item:not(:last-child) {
	margin-right: 35px;
  }
  
  .dropdown-toggle::after {
	 transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
	transform: translateY(3px);
  }
  
  .dropdown-menu {
	margin-top: 0;
  }
}

// Top header 
.header-top{
	background-color: $header-top-bg;
	.header-top-left{
		color: $light-font-color;
		a{
			color: $light-font-color;
			text-decoration: none;
			&:focus,&:hover,&:active{
				text-decoration: none;
				color: $header-top-font-hover-color;
			}
		}
	}
}

// header middle
.header-middle{
	padding-left: 0px;
	padding-right: 0px;
	.navbar{
		@include ipad-max991{
			padding-left: 0px;
			padding-right: 0px;
		}
		.navbar-toggler {
			background: red;
			padding: 0px;
		}
	}
}
// wishlist and cart css
.header-search-wrapper{
	border: 1px solid #dadada;
	.form-control {
		border: 0px;
		background-color: transparent;
		&:focus,&:hover,&:active{
			box-shadow:none;
			border: 0px;
		}
	}
	.btn-outline-dark {
		border: 0px;
		&:focus,&:hover,&:active{
			background-color: transparent!important;
			color: #CFCFCF;
			box-shadow:none!important;
			border: 0px!important;
		}
	}
}
.header-right-icon{
	.wishlist{
		padding-left: 3rem;
	}
	.icon{
		position: relative;
		margin: 0px auto;
		height: 1.5rem;
		margin-top: 5px;
		text-align: center;
		.fa{
			font-size: 22px;
		}
		.wishlist_count{
			position: absolute;
			top: -5px;
			right: 0px;
			width: 17px;
			height: 17px;
			background-color: #DA4B38;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			font-size: 9px;
			text-align: center;
			font-style: normal;
			line-height: 16px;
			color: #fff;
		}
	}
	.cart{
		padding-left: 3rem;
		padding-right: 0.6rem;
	}
	.icon_content{
			color: #777;
			font-size: 0.8rem;
			margin-bottom: 0px;
	}
	.cart_count{
		position: absolute;
		top: -5px;
		right: -10px;
		width: 17px;
		height: 17px;
		background-color: #DA4B38;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		font-size: 9px;
		text-align: center;
		font-style: normal;
		line-height: 16px;
		color: #fff;
	}
}
// Mega menu css
.megamenu .dropdown a,
.megamenu .dropdown-menu  a {
	color:#656565;
}
.megamenu ul>li>a.nav-link {
    line-height: 35px;
}
.megamenu .dropdown-menu > li > a {
	padding:6px 15px;
}
.megamenu .navbar-nav > li > .dropdown-menu {
	margin-top:1px;
}
.megamenu i {
	color:#BFBFBF
}
.megamenu .dropdown-menu {
	box-shadow:none;
	border: none;
	padding:0;
}
.megamenu .form-control {
	margin-top:10px;
	border:1px solid #efefef;
}
.megamenu .btn {
	margin:10px 0 20px
}
.megamenu video {
	max-width: 100%;
	height: auto;
}
.megamenu iframe,
.megamenu embed,
.megamenu object {
	max-width: 100%;
}
.megamenu .google-map {
	width:100%;
	border:1px solid rgba(255, 255, 255, 0.5);
	min-height:200px;
}
.megamenu div.google-map {
	background:rgba(255, 255, 255, 0.5);
	background: #ffffff;
	height: 200px;
	margin: 0 0 0px 0;
	width: 100%;
}
#googlemaps img{
    max-width:none;
}
.megamenu .dropdown-menu .withoutdesc{
	margin-top:0;
	padding:15px 20px;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.megamenu a:hover {
	text-decoration:none
}
.megamenu .dropdown-menu .withoutdesc ul li {
	padding:3px 10px;
}
.megamenu .dropdown-menu .withoutdesc ul li:hover,
.megamenu .dropdown-menu .withoutdesc ul li:focus{
	color:#262626;
	text-decoration:none;
	background-color:#f5f5f5 !important
}
.megamenu .dropdown-menu .withoutdesc li:last-child {
	border-bottom:0 solid #fff;
}
.megamenu .megamenu-content.withdesc a:after {
    color: #CFCFCF;
    content: attr(data-description);
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 0;
    margin: 10px 0 15px;
    text-transform: uppercase;
}

.megamenu .dropdown-submenu{
	position:relative;
}
.megamenu .dropdown-submenu>.dropdown-menu{
	top:0;
	left:100%;
	margin-top:0;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}
.megamenu .dropdown-submenu:hover>.dropdown-menu{
	display:block;
}

.megamenu .dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}
.megamenu .dropdown-submenu:hover>a:after{
	border-left-color:#ffffff;
}
.megamenu .dropdown-submenu.pull-left{
	float:none;
}
.megamenu .dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}
.megamenu p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
	color:#656565;
}
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
	position: static;
}
.megamenu .half {
    width: 50%;
	left: auto !important;
    right: auto !important;
}
.megamenu .container {
	position: relative;
}
.megamenu .dropdown-menu {
	left: auto;
}
.megamenu .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}
.megamenu .megamenu-content {
	padding: 15px 25px;
	background:#fafafa;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
	left: 0;
	right: 0;
}
.megamenu .title {
	font-size:13px;
	font-weight:bold;
	margin-top:15px;
	text-transform:uppercase;
	border-bottom:1px solid #efefef;
	padding-bottom:10px;
}
.megamenu ul {
	list-style:none;
	padding-left:0px;
}